@font-face {
    font-family: Cascadia;
    src: url("Cascadia.ttf");
}

* {
    padding: 0;
    margin: 0;
    font-family: Cascadia, Arial, Helvetica, sans-serif;
}

.container {
    position: relative;
    max-width: 80%;
    margin: auto;
}

/* Stepper */
.stepper {
    width: 100%;
    padding: 20px;
    position: absolute;
    box-sizing: border-box;
    --primary-color-stepper: #0099cc;
    --secondary-color-stepper: #d2d2d2;
}

.stepper-header {
    margin: auto;
    position: relative;
    width: 80%;
    text-align: center;
}

.stepper-header .step {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: var(--secondary-color-stepper, #9ccc9c);
    border-radius: 50%;
    margin-left: 30px;
}

.step.step-range::before {
    content: '';
    display: inline-block;
    background-color: var(--secondary-color-stepper, #9ccc9c);
    position: absolute;
    right: 15px;
    top: 8px;
    width: 55px;
    height: 4px;
    z-index: -1;
}

.step.step-range.active::before {
    content: '';
    display: inline-block;
    background-color: var(--primary-color-stepper, #128e33);
    position: absolute;
    right: 15px;
    top: 14px;
    width: 55px;
    height: 4px;
}

.stepper-header .step.active {
    background-color: var(--primary-color-stepper, #128e33);
    width: 30px;
    height: 30px;
    position: relative;
    top: 4px;
}

.stepper-header .step.passed .active-symbol {
    background-color: var(--primary-color-stepper, #128e33);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    top: -6px;
}

.step.step-range.passed::before {
    content: '';
    display: inline-block;
    background-color: var(--primary-color-stepper, #128e33);
    position: absolute;
    right: 15px;
    top: 8px;
    width: 55px;
    height: 4px;
    z-index: -1;
}

.stepper-header .step.active .active-symbol {
    position: absolute;
    top: -5px;
    left: -5px;
    display: inline-block;
    width: 36px;
    height: 36px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid var(--primary-color-stepper, #128e33);
}

.stepper-header .step.passed .active-symbol::before {
    content: '';
    width: 15px;
    height: 6px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    position: absolute;
    top: 9px;
    left: 6px;
    background: inherit;
    transform: rotate(-50deg);
    transition: all 2s forwards;
}

/* Stepeer content */

.stepper-content .step-content {
    padding: 20px;
    background-color: var(--secondary-color-stepper);
    min-height: 100px;
    border-radius: 5px;
    display: none;
}

.stepper-content .step-content.active {
    display: block;
}

.stepper .stepper-content-buttons {
    width: 100;
    margin: 20px;
}

/* Buttons */
.btn {
    opacity: 0.9;
    border-radius: 5px;
    padding: 5px 15px;
    border: 0;
    font-weight: 600;
}

.btn:hover {
    opacity: 1;
}

.btn:disabled {
    background-color: var(--secondary-color-stepper);
    color: #fff;
}

.btn-green {
    background-color: #00af3f;
    color: #fff;
}
.btn-blue {
    background-color: #0099cc;
    color: #fff;
}